<div class = 'panel panel-default'>
	<div class = "panel-heading">
		<h4 class = 'panel-heading'>Categories</h4>
	</div>
	<div class = "panel-body">
		<div id = "category_box">
		</div>
	</div>
	<div class = 'panel-footer addSkillFooter' ng-if = "catDelete == 'true'">
		<div class = 'row'>
			<div class = 'col-lg-6'>
				<a class = 'btn btn-primary clickable' ng-click = 'addCategory()'>Add Category</a>
			</div>
			<div class = 'col-lg-6'>
				<a class = 'btn btn-primary clickable' ng-click = "addSubcategory()">Add Subcategory</a>
			</div>
		</div>
	</div>
</div>