.numberCircle {
    border-radius: 25%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: #0077b5;
    border: 2px solid black;
    color: white;
    text-align: center;
    font: 14px Arial, sans-serif;
    display: inline-block;
}
.user_info{
	height: 300px;
	overflow: scroll;
}
